
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --bleu: rgb(96, 144, 248);
  --blanc: #f1f1f1;
  --noir: #333;
}

body {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: center;
  min-height: 100vh;
  background: var(--bleu);
}

.wrapper {
  width: 450px;
  background: var(--blanc);
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendrier {
  padding: 20px;
}

.calendrier ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendrier .jours {
  margin-bottom: 20px;
}

.calendrier li {
  color: var(--noir);
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendrier .semaines li {
  font-weight: 500;
  cursor: default;
}

.calendrier .jours li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.jours li.inactive {
  color: #aaa;
}

.jours li.active {
  color: var(--blanc);
}

.jours li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.jours li.active::before {
  background: var(--bleu);
}

.jours li:not(.active):hover::before {
  background: var(--blanc);
}

/* .ds-copyright{ color: rgba(255,255,255,0.5); letter-spacing: 1px; font-size: 16px; } */
.ds-copyright {
  /* Additional styles and spacing as needed */
  display: block;
  position: absolute;
  bottom: 200px; /* Adjust vertical position as desired */
  right: 880px; /* Adjust horizontal position as desired */
  text-align: center; /* Or left/right based on alignment preference */
  color: rgba(255,255,255,0.5); letter-spacing: 1px; font-size: 16px;
}

.ds-copyright a{color: rgba(255,255,255,0.5); text-decoration: none; }
.ds-copyright a:hover{ color: #F26464; }